.root {
    -fx-focus-color: lightgrey; 
    -fx-faint-focus-color: transparent;
}

.list-cell:filled .label{
	-fx-text-fill: black;
}

#standard:filled:even { 
    -fx-background-color: white;
}

#standard:filled:selected {
    -fx-background-color: #FDF1E7;
}

#highlighted { 
    -fx-background-color: #FBDBBF;
}

#highlighted:filled:selected {
    -fx-background-color: #F6B278;
}